body {
    /* background: #ECE5C7; */
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    font-size: 14px;
    color: #354259;
    /* background: #CDC2AE; */
    overflow: hidden;
    box-shadow: 5px 5px 14px 6px #23232324;
}

.form-item {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 15px;
    border-bottom: 5px solid #354259;
    height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.form-item.failed {
    background: #ffe8e8;
}

.form-item.passed {
    background: #e4ffe4;
}

.form-img {
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.form-img img {
    width: 150%;
    object-fit: cover;
    height: 100%;
    display: block;
}

.item-info .title a {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
    color: #354259;
    word-break: normal;
}

.item-info {
    width: calc(100% - 200px);
    padding-right: 20px;
}

.item-info input {
    background: transparent;
    border: none;
    outline: none;
    color: #354259;
    border-bottom: 1px solid #a9a090;
    font-size: 16px;
    padding: 5px;
}

.item-info input:focus {
    outline: none;
}

.item-info input.error {
    border-color: #902727;
    background: #c4142921;
}

.submit {
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #354259;
    cursor: pointer;
    transition: all .3s;
    margin: 30px auto 30px auto;
}

.submit:hover {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.55);
}

.submit.error {
    background: #902727;
}

.notes-list {
    list-style: none;
    padding-left: 5px;
    font-style: italic;
    margin-bottom: 20px;
}

.results {
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #354259;
    padding: 10px;
    margin-bottom: 20px;
}